/* styles.css */
.root {
    -fx-font-family: 'Arial', sans-serif;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.text-field, .button {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button-primary {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.button-primary:hover {
    -fx-background-color: #0056b3;
}

.button-secondary {
    -fx-background-color: #da1212;
    -fx-text-fill: white;
}

.button-secondary:hover {
    -fx-background-color: #b30000;
}

.button-save {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
}

.button-save:hover {
    -fx-background-color: #218838;
}

.button-save-search {
    -fx-background-color: #17a2b8;
    -fx-text-fill: white;
}

.button-save-search:hover {
    -fx-background-color: #138496;
}

.button-load-search {
    -fx-background-color: #6c757d; /* New color */
    -fx-text-fill: white;
}

.button-load-search:hover {
    -fx-background-color: #5a6268; /* New hover color */
}
.list-view {
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.custom-list-view {
    -fx-pref-height: 800px; /* Set the desired height */
}